body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

main {
    background: #212845; 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mainBlock {
    min-height: 600px; /* Change if needed to later, but check */
    min-width: 500px; /* Change if needed to later, but check */
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0 0 40px 0;
}

#slotMachine {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#mania {
    font-family: 'Rock Salt', cursive;
    font-weight: 400;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 30px;
}

#displayValue {
    height: auto;
    width: 100%;
    margin: 20px 0 30px 0;
    display: flex;
}

.valueBlock {
    width: 50%;
    height: 100%;
    display: flex; /*Testing*/
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}

#inputText {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3px;
}

p {
    font-size: 40px;
    opacity: 20%;
}

input {
    border: none;
    background: transparent;
    height: 100%;
    max-width: 105px;
    font-size: 40px;
    color: white;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    opacity: 20%;
    color: white;
    font-weight: 300;
}

#inputButton {
    background: #E1AE4B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 80%;
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 8px;
}

img {
    height: 50%;
    width: auto;
}

.lineBreaker {
    background: white;
    width: 1px;
    height: 80px;
    opacity: 10%;
}

#totalTxt {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    line-height: 1;
}

#spinnerBlock {
    height: auto;
    width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
}

.spinner {
    background: #49537B;
    height: 130px;
    width: 70px;
    border-radius: 100px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.spinnerText {
    padding: 0;
    line-height: 0;
}

#spin {
    background: #333F5F;
    cursor: pointer;
}

#cashOut {
    background: #333F5F;
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 50px 0 0 0;
    font-weight: 800;
}

.summaryHeader {
    text-decoration: underline;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#summary {
    width: 100%;
    height: auto;
    display: none;
}

.general {
    font-size: 16px;
    color: white;
    opacity: 100%;
    line-height: 1;
    margin: 5px;
}

.receiptDetail {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background: white;
    opacity: 10%;
    margin: 10px 0;
}

.loader {
    display: none;
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid #E1AE4B;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s ease-in-out infinite; /* Safari */
    animation: spin 1s ease-in-out infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }





